[project]
	description = A tool to import/create/manage project for rdo packaging style
[access "refs/*"]
  read = group python-sfrdo-core
  owner = group python-sfrdo-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group python-sfrdo-core
	label-Code-Review = -2..+2 group python-sfrdo-ptl
	label-Verified = -2..+2 group python-sfrdo-ptl
	label-Workflow = -1..+1 group python-sfrdo-core
	label-Workflow = -1..+1 group python-sfrdo-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group python-sfrdo-ptl
	read = group python-sfrdo-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group python-sfrdo-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
