-e git+https://github.com/redhat-cip/python-sfmanager.git#egg=python-sfmanager
-e git+https://github.com/redhat-cip/pysflib.git#egg=pysflib
pycrypto==2.6.1
urllib3==1.26.17
rdopkg
requests[security]
PyYAML
python-redmine==1.5.0
six==1.10.0
-e git+https://github.com/morucci/pygerrit.git#egg=pygerrit
